h1{
  font-family:'Roboto';
  padding: 15px;
  font-weight: bold;
  font-size:45px;
}


.form-group{
  width: 80%;

}

.form-control{
  border-radius: 20px;
  padding: 22px;
  text-decoration: none;
}

.frmlbl{
  font-weight: bold;
  font-family: 'Roboto';
  padding:5px;
}
/* Auths and styles starts here*/
.googleauth{
  margin: 20px;
  border-radius:12px;
  background-color:#F73232 !important;
  width: 55%;
}

.fbauth{
  margin: 20px;
  border-radius:12px;
  background-color: #314EBE !important;
  width: 55%;
}

.glogo{
  width: 40px;
  margin-left: 0;
  padding-right: 15px;
  border-radius: 7px;
}
.flogo{
  width: 35px;
  padding-right: 15px;
  margin: 0px;
  border-radius: 5px;

}
/* Auths and styles ends here*/
span{
  color: white;

}
a{
  text-align: none;
}

.signup{
  border-radius:15px;
  padding-left: 100px;
  padding-right: 100px;
  background-color:#610CBE !important;
  font-family:'Roboto';
  margin-top: 15px;
  width: 90%;
}


span
{
  font-family: 'Roboto';
}

.signinlink{

  padding: 10px;
  margin: 15px;
}

.container{
  margin-top: 30px;
}

.regimage{
  width: 100%;
  margin: 80px;
}
