
  <footer class="page-footer font-small blue fixed-bottom">
    <div class="container-fluid">
  <div class="row">

    <div class="col lg-4">

        <ul class="footerleft">
          <li>Careers</li>
          <li>Privacy</li>
          <li>Terms of use</li>
        </ul>

    </div>

    <div class="col lg-4">
      <div class="text-center">
        Follow us:
        <a href="" class="me-4 text-reset ">
          <img src="../../../assets/googlelogo.png" class="logo ">
        </a>
        <a href="" class="me-4 text-reset">
          <img src="../../../assets/fblogobr.png" class="logo">
        </a>
        <a href="" class="me-4 text-reset">
          <img src="../../../assets/twitterlogobr.png" class="logo">
        </a>
        <div class="footer-copyright text-center py-3">
          <img src="../../../assets/logo.png" class="logo"/>© CodeBlogs,
          2021
        </div>
      </div>
    </div>

    <div class="col lg-4">
        <ul class="footerright">
          <li>Address : 32/3 SaltLake City, Kolkata</li>
          <li>Phone : 9832512353 </li>
          <li>Email : codepencil@cpcl.com</li>
        </ul>

    </div>

  </div>

    <!-- Copyright -->

    <!-- Copyright -->

  </div>
  </footer>

