

footer{
  background-color: #29069A;
  width: 100%;
  font-family: Roboto;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.logo
{
  width: 55px;
}

.footerleft{
  margin-top: 5px;
}

.footerleft li{
  display: inline;
  padding: 15px;
  font-family:monospace;
  font-weight: normal;
}

.footerright{
  margin-top: 5px;
}

.footerright li{

  font-family:monospace;
  font-weight: normal;
  list-style:none;

}
